 </div>
 </div>
<div class="RightContent">
<div class="Section">
<h3><a href="http://chattytree.com/groupon/index" title="Groupon">Groupon</a></h3>
 	<div><a href="http://chattytree.com/groupon/chicago" title="Groupon Chicago">Chicago</a></div>
    <div><a href="http://chattytree.com/groupon/phoenix" title="Groupon Phoenix">Phoenix</a></div>
    <div><a href="http://chattytree.com/groupon/miami" title="Groupon Miami">Miami</a></div>
</div>
<div class="Section">
<h3><a href="http://chattytree.com/woot/index" title="Woot">Woot</a></h3>
<div>
<script type="text/javascript"><!--
google_ad_client = "pub-6224413059041410";
/* 120x600, created 4/16/11 */
google_ad_slot = "4336730596";
google_ad_width = 200;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>
<div class="Section">
<div>
<script type="text/javascript"><!--
google_ad_client = "pub-6224413059041410";
/* 120x600, created 4/16/11 */
google_ad_slot = "4336730596";
google_ad_width = 200;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>
</div>
</div>
<div class="footer">
<div class="clear"></div>
Copyright 2011 &copy; chattytree.com, All rights reserved.
</div>
</div>
</div>
</div>
</center>
</body>